@page "/"

<div class="bodySSS">
    <div class="wrapper">
        <div class="menu-box">
            <div class="menu-box__item"><a href="Game1">Жад ойыны</a></div>
            <div class="menu-box__item"><a href="Game2">Көбейту кестесі</a></div>
            <div class="menu-box__item"><a href="Game3">Таңбаны дурыс кой</a></div>
        </div>
    </div>
</div>